*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:root {
  font-size: 4px;
}

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}


::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}
